.fishcard {
  height: 200px;
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(15, 191, 235, 0.1);
  bottom: 0;
  z-index: 1;
}

.fishname, .pointer {
  z-index: 10;
}