.fishcard {
  height: 200px;
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.fishname,
.pointer {
  z-index: 10;
}

.lightblue {
  background-color: rgba(0, 162, 255, 0.6);
}

.darkblue {
  background-color: rgba(0, 162, 255, 0.25);
}

@media screen and (min-width: 768px) {
  .fishcard {
    height: 400px;
  }
}
