.header {
  height:220px;
  width: 100%;
  padding: 55px 5px;
  background-color: rgb(137, 220, 253);
}

.main {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (min-width: 768px) {
  .header {
    height: 550px;
    padding: 77px 14px 0 ; 
  }
}