.header {
  height: 220px;
  width: 100%;
  padding: 55px 5px;
  background-color: rgb(9, 177, 243);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.search-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3px 6px;
}

.input {
  width: 150px;
  background-color: inherit;
  border: 1px solid rgb(10, 223, 223);
  padding: 3px 5px;
  font-size: 11px;
  border-radius: 5px;
  border-top: none;
}

.input:focus {
  outline: rgb(217, 255, 0);
  background-color: rgb(1, 255, 255);
}

.input::placeholder {
  color: rgb(185, 223, 248);
}

@media screen and (min-width: 768px) {
  .header {
    height: 550px;
    padding: 77px 14px 0;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 800px;
  }

  .search-sec {
    padding: 5px 10px;
  }
}
