.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(0, 140, 255);
  color: aliceblue;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-icons {
  width: 24px;
}

.nav-search > * + * {
  margin-left: 10px;
}

.mic {
  margin-left: 50px;
}

.nav-title {
  transform: translateX(30%);
}

.nav-title {
  overflow: hidden;
  justify-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  width: 150px;
  text-align: center;
}

.back {
  color: #fff;
}