* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: rgb(0, 153, 255);
  color: #fff;
}

.accordion {
  background-color: rgb(9, 83, 133) !important;
  padding: 10px 2px;
}

.accordion-eader > .accordion-button {
  background-color: rgb(9, 83, 133);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 18px;
}

ul {
  padding: 0;
}

li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

small {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  color: antiquewhite;
}

.location,
.diet {
  font-size: 12px;
}

.factName {
  margin-right: 30px;
  font-size: 20px;
}

.factProp {
  font-size: 17px;
}

.facts > li {
  padding: 15px 10px;
}

.facts > li:nth-child(odd) {
  background-color: rgba(0, 63, 99, 0.6);
}

@media screen and (min-width: 768px) {
  small {
    text-overflow: unset;
  }
}
